[flake8]
ignore = E203, E266, E501, W503, F403, F401
max-line-length = 79
max-complexity = 18
select = B,C,E,F,W,T4,B9
statistics = True
count = True
show_source = True
per-file-ignores =
    tests/test_cli.py:F811
    tests/test_app_functions.py:F811
    tests/test_db_handler.py:F811